$font-gansoft-font-path: "../fonts" !default;
$font-gansoft-font-family: "GanSoft" !default;
$font-gansoft-version: "1.1.0" !default;
$font-gansoft-prefix: gs- !default;

$font-gansoft-var-fibre: "\f080";
$font-gansoft-var-fibre-measurements: "\f082";
$font-gansoft-var-fibre-shearing: "\f081";
$font-gansoft-var-growth: "\f030";
$font-gansoft-var-growth-draft: "\f036";
$font-gansoft-var-growth-feed: "\f034";
$font-gansoft-var-growth-measurements: "\f037";
$font-gansoft-var-growth-paddock: "\f035";
$font-gansoft-var-growth-progeny: "\f033";
$font-gansoft-var-growth-weaning: "\f032";
$font-gansoft-var-growth-weight: "\f031";
$font-gansoft-var-health: "\f040";
$font-gansoft-var-health-diagnosis: "\f041";
$font-gansoft-var-health-injury: "\f045";
$font-gansoft-var-health-procedure: "\f043";
$font-gansoft-var-health-surgery: "\f044";
$font-gansoft-var-health-treatment: "\f042";
$font-gansoft-var-main: "\f000";
$font-gansoft-var-main-alert: "\f001";
$font-gansoft-var-main-calendar: "\f002";
$font-gansoft-var-main-code: "\f003";
$font-gansoft-var-main-control: "\f004";
$font-gansoft-var-main-definition: "\f005";
$font-gansoft-var-main-edit: "\f006";
$font-gansoft-var-main-settings: "\f007";
$font-gansoft-var-main-tasks: "\f008";
$font-gansoft-var-meat: "\f070";
$font-gansoft-var-meat-carcass: "\f071";
$font-gansoft-var-production: "\f060";
$font-gansoft-var-production-characteristics: "\f064";
$font-gansoft-var-production-drying: "\f063";
$font-gansoft-var-production-herd: "\f065";
$font-gansoft-var-production-milking: "\f061";
$font-gansoft-var-production-yield: "\f062";
$font-gansoft-var-registration: "\f010";
$font-gansoft-var-registration-draft: "\f017";
$font-gansoft-var-registration-fate: "\f013";
$font-gansoft-var-registration-herd: "\f014";
$font-gansoft-var-registration-location: "\f016";
$font-gansoft-var-registration-ownership: "\f015";
$font-gansoft-var-registration-retagging: "\f012";
$font-gansoft-var-registration-tagging: "\f011";
$font-gansoft-var-reproduction: "\f020";
$font-gansoft-var-reproduction-birthing: "\f027";
$font-gansoft-var-reproduction-egg: "\f024";
$font-gansoft-var-reproduction-embryo: "\f023";
$font-gansoft-var-reproduction-mating: "\f022";
$font-gansoft-var-reproduction-running: "\f021";
$font-gansoft-var-reproduction-scanning: "\f025";
$font-gansoft-var-reproduction-semen: "\f026";
$font-gansoft-var-scores: "\f0a0";
$font-gansoft-var-scores-condition: "\f0a1";
$font-gansoft-var-species-buffalo: "\f0b2";
$font-gansoft-var-species-cat: "\f0b8";
$font-gansoft-var-species-cow: "\f0b1";
$font-gansoft-var-species-dog: "\f0b7";
$font-gansoft-var-species-goat: "\f0b5";
$font-gansoft-var-species-horse: "\f0b3";
$font-gansoft-var-species-other: "\f0b0";
$font-gansoft-var-species-pig: "\f0b6";
$font-gansoft-var-species-sheep: "\f0b4";
$font-gansoft-var-tests: "\f050";
$font-gansoft-var-tests-biopsy: "\f052";
$font-gansoft-var-tests-blood: "\f051";
$font-gansoft-var-tests-ct: "\f053";
$font-gansoft-var-tests-dna: "\f055";
$font-gansoft-var-tests-mir: "\f054";
$font-gansoft-var-velvet: "\f090";
$font-gansoft-var-velvet-measurements: "\f091";