.gansoft,
.@{font-gansoft-prefix}growth:before,
.@{font-gansoft-prefix}growth-weight:before,
.@{font-gansoft-prefix}main-alert:before,
.@{font-gansoft-prefix}main-calendar:before,
.@{font-gansoft-prefix}main-code:before,
.@{font-gansoft-prefix}main-control:before,
.@{font-gansoft-prefix}main-definition:before,
.@{font-gansoft-prefix}main-edit:before,
.@{font-gansoft-prefix}main-settings:before,
.@{font-gansoft-prefix}main-tasks:before,
.@{font-gansoft-prefix}production:before,
.@{font-gansoft-prefix}production-drying:before,
.@{font-gansoft-prefix}production-milking:before,
.@{font-gansoft-prefix}registration:before,
.@{font-gansoft-prefix}registration-draft:before,
.@{font-gansoft-prefix}registration-herd:before,
.@{font-gansoft-prefix}registration-location:before,
.@{font-gansoft-prefix}registration-ownership:before,
.@{font-gansoft-prefix}registration-tagging:before,
.@{font-gansoft-prefix}reproduction:before,
.@{font-gansoft-prefix}reproduction-birthing:before,
.@{font-gansoft-prefix}reproduction-mating:before,
.@{font-gansoft-prefix}reproduction-scanning:before,
.@{font-gansoft-prefix}scores-condition:before,
.@{font-gansoft-prefix}species-buffalo:before,
.@{font-gansoft-prefix}species-cat:before,
.@{font-gansoft-prefix}species-cow:before,
.@{font-gansoft-prefix}species-dog:before,
.@{font-gansoft-prefix}species-goat:before,
.@{font-gansoft-prefix}species-horse:before,
.@{font-gansoft-prefix}species-other:before,
.@{font-gansoft-prefix}species-pig:before,
.@{font-gansoft-prefix}species-sheep:before
{
  &:extend(.gs);
}
.@{font-gansoft-prefix}growth:before { content: @font-gansoft-var-growth; }
.@{font-gansoft-prefix}growth-weight:before { content: @font-gansoft-var-growth-weight; }
.@{font-gansoft-prefix}main-alert:before { content: @font-gansoft-var-main-alert; }
.@{font-gansoft-prefix}main-calendar:before { content: @font-gansoft-var-main-calendar; }
.@{font-gansoft-prefix}main-code:before { content: @font-gansoft-var-main-code; }
.@{font-gansoft-prefix}main-control:before { content: @font-gansoft-var-main-control; }
.@{font-gansoft-prefix}main-definition:before { content: @font-gansoft-var-main-definition; }
.@{font-gansoft-prefix}main-edit:before { content: @font-gansoft-var-main-edit; }
.@{font-gansoft-prefix}main-settings:before { content: @font-gansoft-var-main-settings; }
.@{font-gansoft-prefix}main-tasks:before { content: @font-gansoft-var-main-tasks; }
.@{font-gansoft-prefix}production:before { content: @font-gansoft-var-production; }
.@{font-gansoft-prefix}production-drying:before { content: @font-gansoft-var-production-drying; }
.@{font-gansoft-prefix}production-milking:before { content: @font-gansoft-var-production-milking; }
.@{font-gansoft-prefix}registration:before { content: @font-gansoft-var-registration; }
.@{font-gansoft-prefix}registration-draft:before { content: @font-gansoft-var-registration-draft; }
.@{font-gansoft-prefix}registration-herd:before { content: @font-gansoft-var-registration-herd; }
.@{font-gansoft-prefix}registration-location:before { content: @font-gansoft-var-registration-location; }
.@{font-gansoft-prefix}registration-ownership:before { content: @font-gansoft-var-registration-ownership; }
.@{font-gansoft-prefix}registration-tagging:before { content: @font-gansoft-var-registration-tagging; }
.@{font-gansoft-prefix}reproduction:before { content: @font-gansoft-var-reproduction; }
.@{font-gansoft-prefix}reproduction-birthing:before { content: @font-gansoft-var-reproduction-birthing; }
.@{font-gansoft-prefix}reproduction-mating:before { content: @font-gansoft-var-reproduction-mating; }
.@{font-gansoft-prefix}reproduction-scanning:before { content: @font-gansoft-var-reproduction-scanning; }
.@{font-gansoft-prefix}scores-condition:before { content: @font-gansoft-var-scores-condition; }
.@{font-gansoft-prefix}species-buffalo:before { content: @font-gansoft-var-species-buffalo; }
.@{font-gansoft-prefix}species-cat:before { content: @font-gansoft-var-species-cat; }
.@{font-gansoft-prefix}species-cow:before { content: @font-gansoft-var-species-cow; }
.@{font-gansoft-prefix}species-dog:before { content: @font-gansoft-var-species-dog; }
.@{font-gansoft-prefix}species-goat:before { content: @font-gansoft-var-species-goat; }
.@{font-gansoft-prefix}species-horse:before { content: @font-gansoft-var-species-horse; }
.@{font-gansoft-prefix}species-other:before { content: @font-gansoft-var-species-other; }
.@{font-gansoft-prefix}species-pig:before { content: @font-gansoft-var-species-pig; }
.@{font-gansoft-prefix}species-sheep:before { content: @font-gansoft-var-species-sheep; }